.product{
    .product-list{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: $gap-24;
        @include Mobile(){
            flex-direction: column;
        }
        li{
            margin-bottom: calc(80px - $gap-24);
            @include Pad(){
                margin-bottom: calc(40px - $gap-24);
            }
            @include Mobile(){
                margin-bottom: 0;
            }
        }
    }
    .page1 li{
        width: calc((100% - $gap-24*3)/4);
        @include Pad(){
            width: calc((100% - $gap-24)/2);
        }
        @include Mobile(){
            width: 100%;
        }
    }
    .page2 li{
        width: calc((100% - $gap-24*2)/3);
        @include Pad(){
            width: calc((100% - $gap-24)/2);
        }
        @include Mobile(){
            width: 100%;
        }
    }
    .text{
        display: flex;
        justify-content: space-between;
        .price{
            font-weight: 500;
            color: $Red-light;
            &::before{
                content: "NTD";
            }
        }
    }
    .color{
        display: flex;
        gap: $gap-8;
        div{
            width: 24px;
            height: 24px;
            border-radius: 4px;
        }
    }
    .color-1{
        background: #5F3E2D;
    }
    .color-2{
        background: #B75929;
    }
}