.Series-nav{
    .container{
        padding: 0;
    }
    li{
        flex-grow: 1;
        border: 1px solid #DCDCDC;
        position: relative;

        &.active::after{
            content: "";
                position: absolute;
                background: $primary;
                height: 8px;
                bottom: 0;
                left: 0;
                right: 0;
        }
    }
    a{
        display: block;
        padding: 24px;
        width: 100%;
        @include Pad(){
            padding: 16px;
        }
    }
}