.bg-primary{
    background: $primary;
// $primary-dark: #650300;
}
.bg-primary-light{
    background: $primary-light;
}
.bg-primary-dark{
    background: $primary-dark;
}
.bg-white{
    background: #fff;
}