.Shop{
    padding: $Padding-80 0;
    @include Mobile(){
        padding: $Padding-40 0;
    }

    h2{
        // font-size: 48px;
        color: #000;
        text-align: left;
        position: relative;
        text-indent: 16px;
        @include Mobile(){
            font-size: 24px;
        }

        &::before{
            content: "";
            position: absolute;
            width: 8px;
            height: 100%;
            left: 0;
            background: #9F1213;
        }
    }
    .section{
        font-size: 24px;
        display: flex;
        align-items: center;
        width: calc((100% - $gap-24*2)/3);
        margin-top: 33px;
        margin-bottom: calc(40px - $gap-24);

        @include Pad(){
            width: 60%;
            margin-bottom: 40px;
        }
        @include Mobile(){
            font-size: 16px;
            width: 100%;
            margin-bottom: $gap-24;
        }

        select{
            flex-grow: 1;
            margin-left: 16px;
            @include Mobile(){
                margin-left: $gap-8;
            }

            font-size: 18px;
            line-height: 26px;
            color: #495057;
            border: 1px solid #CED4DA;
            
            padding: 6px 12px;
        }
    }
    .shop-list{
        display: flex;
        flex-wrap: wrap;
        gap: $gap-24;
    }
    .store{
        margin-top: calc(48px - $gap-24);
        width: calc((100% - $gap-24*2)/3);
        
        @include Pad(){
            width: calc((100% - $gap-24)/2);
            margin-top: 0;
        }
        @include Mobile(){
            width: 100%;
        }
    }
    .shop-name{
        font-size: 24px;
        padding: 8px 24px;
        border: 1px solid #00000020;
    }
    .info{
        font-size: 20px;
        padding: 16px 24px;
        border: 1px solid #00000020;

        display: flex;
        flex-direction: column;
        gap: $gap-8;
    }
    a{
        display: block;
        padding: 16px 0;
        text-align: center;
        color: #fff;
        background: #000;
    }

    // store1
    .store1{
        display: flex;
        align-items: center;
        gap: $gap-24;
        margin-top: 40px;

        @include Pad(){
            flex-direction: column;
        }
    }
    .store1 .store{
        width: auto;
        margin-top: 0;

        @include Pad(){
            display: flex;
            gap: $gap-24;
        }
    }
    iframe{
        display: block;
    }
}