.Shop{
    .section{
        width: calc((100% - $gap-24*2)/3);
        @include Pad(){
            width: 60%;
        }
        @include Mobile(){
            width: 100%;
        }

        select{
            flex-grow: 1;
            margin-left: 16px;
            @include Mobile(){
                margin-left: $gap-8;
            }

            font-size: 18px;
            line-height: 26px;
            color: #495057;
            border: 1px solid #CED4DA;
            
            padding: 6px 12px;
        }
    }
    .shop-list{
        display: flex;
        flex-wrap: wrap;
        gap: $gap-24;

        .store{
            width: calc((100% - $gap-24*2)/3);
            
            @include Pad(){
                width: calc((100% - $gap-24)/2);
            }
            @include Mobile(){
                width: 100%;
            }
        }
    }
    .text{
        color: #212529;
    }
    .shop-name{
        font-size: 24px;
        padding: 8px 24px;
        border: 1px solid #00000020;
    }
    .info{
        font-size: 20px;
        padding: 16px 24px;
        border: 1px solid #00000020;

        display: flex;
        flex-direction: column;
        gap: $gap-8;
    }
    a{
        display: block;
        padding: 16px 0;
        text-align: center;
        color: #fff;
        background: #000;
    }

    // store1
    .store1{
        display: flex;
        align-items: center;
        gap: $gap-24;

        @include Pad(){
            flex-direction: column;
        }
        @include Mobile(){
            margin-top: $gap-24;
        }

        .store{
            max-width: 526px;
            // margin-top: 0;
    
            @include Pad(){
                max-width: 100%;
                display: flex;
                gap: $gap-24;
                img{
                    max-width: 50%;
                }
            }
            @include Mobile(){
                flex-direction: column;
                gap: 0;
                img{
                    max-width: 100%;
                }
            }
        }
    }
    .map{
        display: block;
        max-width: 100%;
    }
}