<nav class="Blog-nav fs-2 fs-sm-1 bg-primary-dark">
    <div class="container d-flex justify-between text-white">
        <ul class="d-flex fw-700">
            <li><a href="javascript:;">最新消息</a></li>
            <li><a href="javascript:;">特別企劃</a></li>
            <li><a href="javascript:;">新品上市</a></li>
            <li><a href="javascript:;">鏡框小知識</a></li>
        </ul>
        <a href="javascript:;"><span class="material-symbols-outlined">
            search
            </span></a>
    </div>
</nav>