<footer>
    <div class="container">
        <!-- footer-nav -->
        <div class="footer-nav">
            <ul class="link-group">
                <li><a href="index.html">首頁</a></li>
                <li><a href="Series-p1.html">系列鏡框</a></li>
                <li><a href="Shop.html">門市據點</a></li>
                <li><a href="">部落格</a></li>
                <li><a href="QA.html">常見問題</a></li>
            </ul>
            <ul class="share">
                <li><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic-social-fb.png?raw=true" alt="fb的icon"></a></li>
                <li><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_ig.png?raw=true" alt=""></a></li>
                <li><a href=""><img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/ic_social_line.png?raw=true" alt=""></a></li>
            </ul>
        </div>

        <!-- footer-info -->
        <ul class="footer-info">
            <li><a href="">
                <span class="material-symbols-outlined aa">
                    call
                </span>0800-000-000</a></li>
            <li><a href="">
                <span class="material-symbols-outlined aa">
                    mail
                </span>glasses@business.com</a></li>
        </ul>

        <!-- footer-copyright -->
        <div class="footer-copyright">
            <p>
                Copyright © 2020 Glasses.All rights reserved.
            </p>
            <ul>
                <li><a href="javascript:;">隱私權政策</a></li>
                <li><a href="javascript:;">服務條款</a></li>
            </ul>
        </div>
    </div>
</footer>