<nav class="navRed bg-primary">
    <div class="container">
        <a href="index.html" class="glasses-logo">
            <h1>
                glasses official website
            </h1>
        </a>
        <span class="material-symbols-outlined ham-icon text-white">
            menu
        </span>
        <ul class="nav-list text-white fs-2 fs-sm-1 dropdown">
            <li><a href="Series-p1.html">系列鏡框</a></li>
            <li><a href="Shop.html">門市據點</a></li>
            <li><a href="Blog.html">部落格</a></li>
            <li><a href="QA.html">常見問題</a></li>
        </ul>
    </div>
</nav>