<ul class="pagination">
    <li><a href="javascript:;">上一頁</a></li>
    <li><a href="javascript:;" class="active">1</a></li>
    <li><a href="javascript:;">2</a></li>
    <li><a href="javascript:;">3</a></li>
    <li><a href="javascript:;">4</a></li>
    <li><a href="javascript:;">5</a></li>
    <li><a href="javascript:;">下一頁</a></li>
  </ul>