
footer{
    background: $Red-light;
    color: #fff;
    padding-top: $gap-48;
    @include Mobile(){
        padding-top: $gap-24;
    }
    .container{
        @include Mobile(){
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    }
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: $gap-24;

    .link-group{
        display: flex;
        justify-content: space-between;
        gap: $gap-48;

        @include Mobile(){
            display: none;
        }
    }

    .share{
        display: flex;
        justify-content: space-between;
        gap: 32px;
        @include Pad(){
            gap: 16px;
          }
        img{
            width: 48px;
            @include Pad(){
                width: 40px;
            }
            @include Mobile(){
                width: 24px;
            }
        }
    }
}
.footer-info{
    font-size: 36px;
    margin-bottom: 32px;
    @include Mobile(){
        font-size: 16px;
        margin-bottom: $gap-24;
        order: -1;
    }
    li:not(:last-child){
        margin-bottom: $gap-8;
    }
    .material-symbols-outlined {
        font-size: 40px;
        margin-right: 20px;
        vertical-align: middle;
        @include Mobile(){
            font-size: 18px;
            margin-right: 11px;
        }

        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
      }
}
.footer-copyright{
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    border-top: 1px solid #fff;
    @include Mobile(){
        flex-direction: column;
        padding: 16px 0px 24px 0;
        width: 100%;
    }
    ul{
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        gap: $gap-48;
        @include Mobile(){
            flex-direction: column;
            gap: $gap-8;
            margin-top: $gap-8;
        }
    }
}