.navRed{
    background: #aa0601;
    padding: 16px 0;
    @include Mobile(){
        padding: 0;
      }
    .container{
        display: flex;
        justify-content: space-between;

        @include Mobile(){
            flex-wrap: wrap;
            padding: 0;
          }
    }
}
.glasses-logo{
    display: block;
    width: 80px;
    height: 48.75px;
    padding: 12px 0;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    h1{
        position: relative;
        left: 101%;
    }
    @include Mobile(){
        margin: 16px 15px;
      }
}
.nav-list{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 64px;

    color: #fff;
    font-size: 20px;

    @include Mobile(){
        font-size: 16px;
        flex-wrap: wrap;
        gap: 0;
        width: 100%;
        text-align: center;
        li{
            width: 50%;
            border: 1px solid #fff;
        }
        a{
            display: block;
            padding: 12px 0;
        }
      }
}