.contact{
    padding: $Padding-80 0;
    background: $Pink;
    @include Mobile(){
        padding: $Padding-40;
      }
}
.contact-form{
    max-width: 636px;
    margin: 0 auto;

    @include Pad(){
        max-width: 576px;
      }
    @include Mobile(){
        padding: 0 14px;
      }
    & > p{
        margin-top: $gap-48;
        @include Mobile(){
            margin-top: $gap-24;
          }
        font-size: 20px;
    }
    form{
        margin-top: $gap-24;
    }
    span{
        display: block;
        margin-bottom: $gap-8;
    }
    input:not(.checkbox),textarea{
        display: inline-block;
        width: 100%;
        padding: 6px 12px;
        margin-bottom: 16px;
        background: none;
        border: 1px solid #000;
    }
    label{
        display: flex;
    }
    input[type=checkbox] {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 6px;
        margin-bottom: $gap-48;
        cursor: pointer;
    }
    button{
        display: block;
        text-align: center;
        background: $Red-light;
        color: #fff;
        border: none;
        padding: 16px 0px;
        margin: 0 auto;

        width: 65%;
        @include Mobile(){
            width: 100%;
          }

        &:hover{
            cursor: pointer;
        }
    }
}