.design{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg.png?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    ul{
        display: flex;
        @include Pad(){
            flex-direction: column;
            gap: $gap-24;
          }
    }
    li:hover{
      .item-title{
          transition: all 0.3s;
          background: $primary;
          color: #fff;
      }
    }
    .item-title{
        padding: 8px 0;
        border-right: 1px solid #00000029;
    }
    img{
      margin-bottom: -6px;
    }
}