.intro-list{
    display: flex;
    justify-content: space-between;
    gap: $gap-24;
    
    @include Pad(){
        flex-wrap: wrap;
    }
    li{
        width: calc((100% - $gap-24*3)/4);
        @include Pad(){
            width: calc((100% - $gap-24)/2);
          }
        @include Mobile(){
            width: 100%;
          }
    }
    img{
        width: 83.33px;
    }
}
