.intro{
    background-color: $Pink;
    padding: $Area-padding;
    @include iphone(){
        padding: $Area-padding-sm;
      }
}
.intro-list{
    margin-top: 32px;

    display: flex;
    justify-content: space-between;
    gap: 24px;
    
    @include ipad(){
        flex-wrap: wrap;
    }
    @include iphone(){
        flex-direction: column;
      }

    h3{
        @include font-style($Red-dark,24px,36px,600);
        text-align: center;
        margin-top: 24px;
        margin-bottom: 8px;
    }
    li{
        @include ipad(){
            width: calc(50% - 12px);
          }
        @include iphone(){
            width: 100%;
          }
    }
    img{
        display: block;
        width: 83.33px;
        margin: auto;
    }
}
