.series{
    padding: $Padding-80 0;
    @include Mobile(){
        padding: $Padding-40 0;
      }
    h2{
        margin-bottom: $gap-48;
        @include Mobile(){
            margin-bottom: $gap-24;
          }
    }
    ul{
        display: flex;
        justify-content: space-between;
        gap: $gap-24;

        li{
            max-width: calc((100% - $gap-24*2)/3);
        }
        @include Pad(){
            flex-direction: column;
            align-items: center;
            li{
                max-width: 336px;
            }
          }
    }
    img{
        margin-bottom: $gap-8;
    }
    h3{
        font-size: 48px;
        font-weight: 900;
        color: $Red-light;
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        text-align: center;
    }
}