.series{
    padding: $Area-padding;
    h2{
        margin-bottom: $marginB-48;
    }
    ul{
        display: flex;
        justify-content: space-between;
        gap: 24px;

    }
    img{
        width: 100%;
        margin-bottom: 8px;
    }
    h3{
        @include font-style($Red-light,48px,72px,900);
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }
}