.series{
    padding: $Area-padding;
    @include iphone(){
        padding: $Area-padding-sm;
      }
    h2{
        margin-bottom: $marginB-48;
        @include iphone(){
            margin-bottom: $marginB-24;
          }
    }
    ul{
        display: flex;
        justify-content: space-between;
        gap: 24px;

        li{
            max-width: calc((100% - 48px)/3);
        }
        @include ipad(){
            flex-direction: column;
            align-items: center;
            li{
                max-width: 336px;
            }
          }
    }
    img{
        width: 100%;
        margin-bottom: 8px;
    }
    h3{
        @include font-style($Red-light,48px,72px,900);
        font-family: 'Roboto', sans-serif;
        font-style: italic;
        text-align: center;
    }
}