<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GlassesWebsite</title>
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
    <%- include('./layout/nav'); -%>

        <%- include('./layout/Blog-nav'); -%>
            <div class="Blog-p2">
                <div class="container flex-column gap-8 page-info">
                    <div>
                        首頁 / 部落格 / 特別企劃 / <span class="Red-light">情人特別企劃
                    </div>
                    </span>
                    <div class="tag-group fw-700 Red-light">
                        <span>#special</span><span>#event</span>
                    </div>
                </div>
                <div class="container main">
                    <div class="content">
                        <h2 class="p2-title">情人特別企劃</h2>
                        <h3 class="p2-subTitle">2020 Valentine’s Special</h3>
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-1.png?raw=true"
                            alt="部落格圖片1">
                        <p>
                            一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                        </p>
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-2.png?raw=true"
                            alt="部落格圖片2">
                        <p>
                            一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                        </p>
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-3.png?raw=true"
                            alt="部落格圖片3">
                        <p>
                            一年一度西洋情人節即將到來，我們推出最強「情人節企劃」，為這個甜蜜的節日加溫。 本次拍攝的鏡框款式與 NEEDS CLASSIC
                            聯名設計款，偶爾跟另一半來個低調情侶單品，結合彼此喜好、找出合適框型款式，在這個春夏輕鬆搭出屬於你們的甜蜜默契！
                        </p>
                        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/blogpage-4.png?raw=true"
                            alt="部落格圖片4">
                        <p>
                            2/14(五)-2/20(日) 至本店單筆消費滿2980元, 就送情人節限定眼鏡盒1個 期間優惠還有~~持他牌鏡框更換鏡片 薄型非球面鏡片折300元 濾藍光鏡片折500元
                            快快帶上另一半
                            讓彼此每一次睜開眼，都被愛的視線包圍!
                        </p>
                        <ul class="d-flex share">
                            <li class="fw-700">Share</li>
                            <li>
                                <a href="javacript:;">
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-facebook.png?raw=true"
                                        alt="">
                                </a>
                            </li>
                            <li>
                                <a href="javacript:;">
                                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-instagram.png?raw=true"
                                        alt="">
                                </a>
                            </li>
                        </ul>

                    </div>
                    <aside class="Blog-p2-aside fw-700 Red-light">
                        <div class="tag-title"><span class="material-symbols-outlined">
                                label
                            </span>TAGS</div>
                        <div class="tag-group">
                            <span>#special</span><span>#sale</span>
                            <span>#new_item</span><span>#interview</span>
                            <span>#trivia</span><span>#news</span>
                            <span>#event</span>
                        </div>
                    </aside>
                </div>
                <div class="blog-p2-footer container">
                    <ul class="d-flex justify-between blog-footer">
                        <li><a href="javacript:;">
                                <span class="material-symbols-outlined">
                                    arrow_back
                                </span>
                                <p>上一篇：街頭潮人訪問 1</p>
                            </a></li>
                        <li><a href="javacript:;">
                                <p>下一篇：街頭潮人訪問 2</p><span class="material-symbols-outlined">
                                    arrow_forward
                                </span>
                            </a></li>
                    </ul>
                </div>
                </div>
            </div>


            <%- include('./layout/footer'); -%>

                <script type="module" src="../main.js"></script>
</body>

</html>