<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GlassesWebsite</title>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
  <%- include('./layout/nav'); -%>

    <!-- Series-nav -->
    <nav class="Series-nav">
      <ul class="container d-flex fs-5 fs-md-3 fs-sm-1 fw-500 text-center">
        <li class="active"><a href="Series-p1.html">OPTICAL</a></li>
        <li><a href="Series-p2.html">SUNGLASSES</a></li>
        <li><a href="javscript:;">FUNCTIONAL</a></li>
      </ul>
    </nav>

    <!-- banner -->
    <div class="banner d-flex">
      <div class="pic pic1"></div>
      <div class="pic pic2"></div>
    </div>

    <!-- product -->
    <div class="product">
      <div class="container py-80 py-sm-40">
        <h2 class="fs-8 fs-sm-3 fw-500 text-center">Celluloid Combi</h2>
        <h3 class="fs-5 fs-sm-3 text-center mb-8 mb-sm-6">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="product-list page1 fs-3">
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="產品1">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="產品2">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="產品3">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="產品4">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="產品5">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="產品6">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="產品1">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="產品2">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="產品3">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="產品4">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="產品5">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:;">
              <div class="pic">
                <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="產品6">
              </div>
              <div class="info">
                <div class="text">
                  <h4 class="type">BJ41600S</h4>
                  <div class="price">3,490</div>
                </div>
                <div class="color">
                  <div class="color-1"></div>
                  <div class="color-2"></div>
                </div>
              </div>
            </a>
          </li>
        </ul>

        <!-- 頁數 -->
        <%- include('./layout/pagination'); -%>

      </div>
    </div>
    

    

    <%- include('./layout/footer'); -%>

      <!-- jg -->
      <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
      <!-- all.js -->
      <script type="module" src="../main.js"></script>
</body>

</html>