<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GlassesWebsite</title>
</head>

<body>
  <%- include('./layout/nav'); -%>

    <!-- Series-nav -->
    <nav class="Series-nav">
      <ul class="container d-flex">
        <li class="active"><a href="Series-p1.html">OPTICAL</a></li>
        <li><a href="Series-p2.html">SUNGLASSES</a></li>
        <li><a href="javscript:;">FUNCTIONAL</a></li>
      </ul>
    </nav>

    <!-- banner -->
    <div class="banner">
      <div class="pic pic1"></div>
      <div class="pic pic2"></div>
    </div>

    <!-- product -->
    <div class="product">
      <div class="container">
        <h2 class="title-sm">Celluloid Combi</h2>
        <h3 class="title-sub">賽璐珞鈦金屬混合鏡框</h3>
        <ul class="product-list page1">
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="產品1">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="產品2">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="產品3">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="產品4">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="產品5">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="產品6">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-1.png?raw=true" alt="產品1">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-2.png?raw=true" alt="產品2">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-3.png?raw=true" alt="產品3">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-4.png?raw=true" alt="產品4">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-5.png?raw=true" alt="產品5">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-6.png?raw=true" alt="產品6">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
        </ul>

        <!-- 頁數 -->
        <%- include('./layout/pagination'); -%>

      </div>
    </div>
    

    

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>