<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GlassesWebsite</title>
</head>

<body>
  <%- include('./layout/nav'); -%>

    <!-- Series-nav -->
    <nav class="Series-nav">
      <ul class="container">
        <li><a href="Series-p1.html">OPTICAL</a></li>
        <li class="active"><a href="Series-p2.html">SUNGLASSES</a></li>
        <li><a href="javascript:;">FUNCTIONAL</a></li>
      </ul>
    </nav>

    <!-- banner -->
    <div class="banner">
      <div class="pic pic3"></div>
      <div class="pic pic4"></div>
    </div>

    <!-- product -->
    <div class="product">
      <div class="container">
        <h2>2020 NEW COLLECTION</h2>
        <h3>賽璐珞鈦金屬混合鏡框</h3>
        <ul class="product-list page2">
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-7.png?raw=true" alt="產品7">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-8.png?raw=true" alt="產品8">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-9.png?raw=true" alt="產品9">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-10.png?raw=true" alt="產品10">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-11.png?raw=true" alt="產品11">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
          <li>
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-12.png?raw=true" alt="產品12">
            <div class="info">
              <div class="text">
                <div class="type">BJ41600S</div>
                <div class="price">3,490</div>
              </div>
              <div class="color">
                <div class="color-1"></div>
                <div class="color-2"></div>
              </div>
            </div>
          </li>
        </ul>

        <!-- 頁數 -->
        <ul class="pagination">
          <li><a href="">上一頁</a></li>
          <li><a href="" class="active">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
          <li><a href="">下一頁</a></li>
        </ul>

      </div>
    </div>
    

    

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>