<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>GlassesWebsite</title>
  <link rel="shortcut icon" href="favicon.ico" />
</head>

<body>
  <%- include('./layout/nav'); -%>

    <div class="Shop">
        <div class="container py-80 py-sm-40">
            <h2 class="border-left fs-9 fs-sm-1 fs-sm-3 fw-700 mb-8 mb-sm-6">門市據點</h2>
            <div class="section fs-3 fs-sm-1 d-flex align-center mb-10 mb-sm-6">
                選擇地區
                <select>
                    <option>台北市</option>
                    <option>台中市</option>
                    <option>高雄市</option>
                </select>
            </div>
            <ul class="shop-list">
                <li class="store">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-1.png?raw=true" alt="店鋪1">
                    <div class="text">
                        <h3 class="shop-name">台北中山旗艦店</h3>
                        <ul class="info">
                            <li>電話：(02)000-1234</li>
                            <li>營業時間：10:00-21:00</li>
                            <li>地址：台北市中山區南京東路25巷2-1號</li>
                        </ul>
                    </div>
                    <a href="Shop-store1.html" class="btn">詳細資訊</a>
                </li>
                <li class="store d-column">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-2.png?raw=true" alt="店鋪2">
                    <div class="text">
                        <h3 class="shop-name">台北綠園店</h3>
                        <ul class="info">
                            <li>電話：(02)000-2345</li>
                            <li>營業時間：10:00-21:00</li>
                            <li>地址：台北市中正區復興南路 132-1 號</li>
                        </ul>
                    </div>
                    <a href="Shop-store1.html" class="btn">詳細資訊</a>
                </li>
                <li class="store">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-3.png?raw=true" alt="店鋪3">
                    <div class="text">
                        <div class="shop-name">台中清水旗艦店</div>
                        <ul class="info">
                            <li>電話：(02)000-1234</li>
                            <li>營業時間：10:00-21:00</li>
                            <li>地址：台中市清水區經南一路 23 號 8 樓</li>
                        </ul>
                    </div>
                    <a href="Shop-store1.html" class="btn">詳細資訊</a>
                </li>
                <li class="store">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-4.png?raw=true" alt="店鋪4">
                    <div class="text">
                        <div class="shop-name">高雄中正形象店</div>
                        <ul class="info">
                            <li>電話：(07)000-2345</li>
                            <li>營業時間：10:00-21:00</li>
                            <li>地址：高雄市苓雅區中正路 38 號 12 樓</li>
                        </ul>
                    </div>
                    <a href="Shop-store1.html" class="btn">詳細資訊</a>
                </li>
                <li class="store">
                    <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/store-5.png?raw=true" alt="店鋪5">
                    <div class="text">
                        <div class="shop-name">高雄夢時代店</div>
                        <ul class="info">
                            <li>電話：(07)000-1234</li>
                            <li>營業時間：10:00-21:00</li>
                            <li>地址：高雄市前鎮區中華一路 63 號 6 樓</li>
                        </ul>
                    </div>
                    <a href="Shop-store1.html" class="btn">詳細資訊</a>
                </li>
            </ul>
        </div>
    </div>
    

    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>