
@mixin font-style($font-color:#000,$fsz:16px,$line-height:1.5,$fw:400) {
    color: $font-color;
    font-size: $fsz;
    line-height: $line-height;
    font-weight:$fw;
};

@mixin ipad-air{
    @media (max-width:820px){
        @content
    }
};
@mixin ipad{
    @media (max-width:768px){
        @content
    }
};

@mixin iphone{
    @media (max-width:575px){
        @content
    }
};