$Red-light:#aa0601;
$Red-dark:#650300;
$Pink:#fbf2f2;

$Padding-80:80px;
$Padding-40:40px;

$gap-8:8px;
$gap-24:24px;
$gap-48:48px;




// bs
// $modal-content-box-shadow-xs:       red;
// $modal-content-box-shadow-sm-up:    blue;
// $pagination-focus-bg:               $Black-100;