$Red-light:#aa0601;
$Red-dark:#650300;
$Pink:#fbf2f2;

$Area-padding:80px 0;
$marginB-48:48px;

// $border-radius-16:16px;




// bs
// $modal-content-box-shadow-xs:       red;
// $modal-content-box-shadow-sm-up:    blue;
// $pagination-focus-bg:               $Black-100;